<div class="card">
  <div class="card-header">
    Profile
  </div>

  <div class="table-responsive">
    <table class="table mb-0"



           <thead>

            <tr>
              <th> Name</th>
              <th>Email</th>
              <th>Date Of Joining</th>
              <th>Date of birth</th>
              <th></th>
            </tr>
          </thead>


          <td>
            {{empleave.fromdt}} to {{empleave.todt}}
          </td>
          <td>{{ empleave.leavetype }}</td>
          <td>{{ empleave.noOfDays }}</td>
          <td>{{ empleave.status }}</td>
